body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7EF;
}

#content{
    width:800px;
    margin: 0 auto;
}

#room{
    background-color: #ddd;
    margin-bottom: 1em;
}

#room-list{
    float:right;
    width:200px;
}
#room-list div{
    height:20px;
    line-height:20px;
    margin-bottom:10px;
    border:1px solid #ccc;
    width:195px;
    cursor:pointer;
}

#messages{
    width: 600px;
    height: 300px;
    overflow: auto;
    background-color: #eee;
    margin-bottom: 1em;
    margin-right: 10px;
}